<div class="container">
    <div class="well well-sm">
        <strong>View Style</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="books" class="row list-group">
      <% @books.each do |book| %>
        <% cache ['book_entry', book] do %>
          <%= render partial: "book_entry", locals: {book: book} %>
        <% end -%>
      <% end %>
    </div>
</div>
